.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  gap: 20px;
  text-align: center;
  justify-content: center;

  .card {
    background-color: var(--white);
    width: fit-content;
    padding: 20px;
    border-radius: var(--borderRadius);
    border: 1px solid var(--grey);
    width: calc(100% - 40px);

    h3 {
      margin: -10px 0 10px 0;
      padding-bottom: 10px;
      font-size: 25px;

      &::after {
        content: '';
        display: block;
        width: calc(100% + 40px);
        height: 1px;
        background-color: var(--grey);
        margin-left: -20px;
      }
    }

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0px;

      td,
      th {
        border-right: 1px solid var(--grey);
        border-bottom: 1px solid var(--grey);
        padding: 5px 10px;
        text-align: center;

        &:first-child {
          border-left: 1px solid var(--grey);
        }
      }

      thead {
        tr:first-child {
          th {
            border-top: 1px solid var(--grey);

            &:first-child {
              border-top-left-radius: var(--borderRadius);
            }

            &:last-child {
              border-top-right-radius: var(--borderRadius);
            }
          }
        }
      }

      tbody {
        tr:last-child {
          td {
            &:last-child {
              border-bottom-right-radius: var(--borderRadius);
            }

            &:first-child {
              border-bottom-left-radius: var(--borderRadius);
            }
          }
        }
      }
    }
  }
}
