.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 988px;
  height: 71px;
  left: 364px;
  top: 95px;
  background: var(--white);
  border: 1px solid var(--grey);
  box-sizing: border-box;
  border-radius: var(--borderRadius);

  h3 {
    width: 87px;
    height: 36px;
    left: 1147px;
    top: 113px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey);
  }
}
.eventsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 23px 0;
}
