.wrapper {
  width: 400px;
  max-width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--grey);
  border-radius: var(--borderRadius);
  padding: 20px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
