.main {
  width: 100%;
  background-color: var(--darkGreen);
  text-align: right;
  text-decoration: none;
  padding: 5px 60px;
  position: fixed;
  top: 0;
  z-index: 999;

  .profile {
    width: 40px;
    display: inline-block;
    height: 40px;
  }
}
