

.login {
    width: 320px;
    height: 40px;
    margin: 5px;
    border-radius: var(--borderRadiusLg);
    background-color: var(--darkGreen);
    color: var(--white);
}
.withGoogle {
    width: 320px;
    height: 40px;
    margin: 5px;
    border-radius: var(--borderRadiusLg);
    background-color: var(--lightGreen);
    color: var(--white);
}
