

.login {
    width: 320px;
    height: 40px;
    margin: 5px;
    border-radius: 1000px;
    background-color: #00A3A3;
    color: #ffffff;
}
.withGoogle {
    width: 320px;
    height: 40px;
    margin: 5px;
    border-radius: 1000px;
    background-color: #0B9673;
    color: #ffffff;
}
