.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  height: 313px;
  width: 100%;
  margin: 0px;
  background-color: #ffffff;
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 49px 0px 64px 69px;
  background-color: #c4c4c4;
  object-fit: cover;
  object-position: center;
}

.userName {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.userName > h2 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin: 77px 0px 43px 63px;
  color: black;
}

.userName > h3 {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin: 43px 0px 139px 63px;
  color: #a0a0a0;
}

.verticalLine {
  position: relative !important;
  width: 209px;
  height: 0px;
  margin: 168px 50px 64px 60px;
  border: 1px solid #c4c4c4;
  transform: rotate(90deg);
}

.userDetails {
  display: flex;
  flex-direction: column;
  margin: 80px 0px 0px 0px;
}

.moreDetails {
  display: flex;
  flex-direction: row;
  margin-bottom: 27px;
}

.moreDetails > p,
a {
  font-family: poppins;
  font-size: 18px;
  margin-left: 22px;
}

.moreDetails > img {
  height: 25px;
  width: 25px;
}

.adminCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 38px;
}

.adminCardInfo {
  display: flex;
  flex-direction: column;
  margin: 0px 45px 0px 0px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
}

.adminCardInfo > h1 {
  text-align: center;
  font-family: poppins;
  font-size: 24px;
  font-weight: 500;
}

.adminCardName,
.adminCardEmail,
.adminCardPhone,
.adminCardPassword {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 18px 15px;
}

.adminCardName > img,
.adminCardEmail > img,
.adminCardPhone > img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.adminCardName > p,
.adminCardEmail > p,
.adminCardPhone > p {
  font-family: poppins;
  font-size: 18px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}

.deleteButton {
  width: 100%;
  height: 30px;
  background-color: #ff6a6a;
  border: none;
  border-radius: 0px 0px 0px 5px;
}

.superAdmin {
  width: 100%;
  height: 30px;
  background-color: #3ccece;
  border: none;
  border-radius: 0px 0px 5px 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}

.bottomCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.bottomCard > div {
  margin-right: 90px;
  font-family: poppins;
  font-size: 20px;
  text-decoration: none;
}

.daysDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin-right: 90px;
}

.days {
  width: 100%;
  font-family: poppins;
  font-size: 20px;
}

.overdue {
  background-color: #ff9797;
  border-radius: 1000px;
  border: none;
  padding: 9px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.next {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #c4c4c4;
  height: 100%;
  border: none;
}

.next > img {
  height: 20px;
  width: 20px;
  margin-top: 35px;
}
