.topdiv {
    margin-left: 30px;
}

input {    
    width: 320px;
    height: 30px;
    border-radius: var(--borderRadius);
    padding: 15px;
    margin: 5px;
}
div {
    padding-top: 8px;
    align-items: center;
}
.formInput {
    padding-top: 10px;
}
.loginBtn {
    width: 130px;
    height: 40px;
    background-color: var(--white);
    border-radius: var(--borderRadiusLg) 0px 0px var(--borderRadiusLg);
}
.registerBtn {
    width: 130px;
    height: 40px;

    background: var(--lightGreen);
    border-radius: 0px var(--borderRadiusLg) var(--borderRadiusLg) 0px;
}