.topdiv {
    margin-left: 30px;
}

.input {    
    width: 320px;
    height: 30px;
    border-radius: var(--borderRadiusXl);
    padding: 15px;
    margin: 5px;
    border: 1px solid var(--black);
}
div {
    padding-top: 8px;
    align-items: center;
}
.formInput {
    padding-top: 10px;
}
.loginBtn {
    width: 130px;
    height: 40px;
    background-color: var(--white);
    border-radius: var(--borderRadiusXl) 0px 0px var(--borderRadiusXl);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.25);
    border: 0px;
}
.registerBtn {
    width: 130px;
    height: 40px;
    border: 0px;
    background: var(--lightGreen);
    border-radius: 0px var(--borderRadiusXl) var(--borderRadiusXl) 0px;
}