@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --font: 'Poppins', sans-serif;
  --headingFont: 'DM Serif Display', serif;
  --monoSpaceFont: 'Roboto Mono', monospace;

  --borderRadius: 5px;
  --borderRadiusLg: 10px;
  --borderRadiusSm: 3px;
  --borderRadiusXl: 1000px;
  --blue: #00a3a3;
  --lightBlue: #3ccece;
  --lightGreen: #0b9673;
  --darkGreen: #006f6f;
  --lightGrey: #f5f4f7;
  --grey: #c4c4c4;
  --darkGrey: #777777;
  --white: #ffffff;
  --red: #ff6a6a;
  --lightRed: #ff9797;
  --yellow: #ffc700;
  --lime: #c6d800;
  --orange: #ff8a00;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

h1 {
  font-size: 50px;
}

body {
  font-family: var(--font);
  background-color: var(--lightGrey);

  &.noScroll {
    overflow: hidden;
  }
}

button {
  cursor: pointer;
  font-family: var(--font);
}

a {
  text-decoration: none;
  margin-bottom: 0;
}

.contentWrapper {
  display: flex;
  height: fit-content;
}

.content {
  padding-top: 50px;
  height: fit-content;
}

.contentBody {
  padding: 50px;
  width: 100%;
  height: fit-content;
}

::-webkit-scrollbar-track {
  background-color: var(--lightGrey);
  margin: 5px 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--lightGrey);
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--darkGreen);
  border: 2px solid var(--lightGrey);
  border-radius: var(--borderRadius);
}

.monoSpace {
  font-family: var(--monoSpaceFont);
}
